#quote {
  min-height: 80vh;
}
.quote-container {
  width: 75%;
  min-height: 70vh;
  margin: auto auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote {
  position: relative;
}
#quote img {
  width: 12rem;
  height: 12rem;
  margin-bottom: 6rem;
  border-radius: 50%;
  box-shadow: 0 0 20px -7px #6f00c3;
  transition: 0.2s;
}

#quote .text {
  font-size: 2.4rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #000000cf;
  letter-spacing: 1px;
}
#quote i {
  font-size: 5rem;
  color: #c000ffb0;
  opacity: 0.4;
}
#quote .fa-quote-left {
  position: absolute;
  top: -6rem;
  left: -2rem;
}
#quote .fa-quote-right {
  position: absolute;
  right: -2rem;
  bottom: -2rem;
}
#quote .author {
  letter-spacing: 3px;
  font-size: 1.5rem;
  padding: 2rem 0 0;
  text-align: center;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #46244c;
}

@media (max-width: 750px) {
  .quote-container {
    width: 85%;
  }
  #quote img {
    width: 15rem;
    height: 15rem;
  }
}
