body.dark {
    background-color: #454f55; 

}


body.dark a{
    text-decoration: none;
    color: rgb(231, 226, 226);
}
 body.dark .burger{
     color: #CDCFC1;
 }

li {
    list-style: none;
}

body.dark header{
    background-color: #2b383e;
    box-shadow: 0 0 7px -3px #efefefa6;
}


body.dark header .links a:hover {
    color: rgb(255, 255, 255);
    text-shadow: #0766c5;
}
.lightlogo.darkmode{
    display: none;
}
.darklogo.darkmode{
    display: block;
}

/* *dark mode toggle button----------- */
.darkmodetoggle.dark{
    color: white;
    box-shadow: 0 0 10px -2px rgb(43, 43, 43);
    background-color: rgb(0, 0, 0,0.84);
}
.darkmodetoggle.dark .cercle{
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}
.darkmodetoggle.dark .cercle i{
    color:black
}
.darkmodetoggle.dark .fa-moon{
    display: none;
}
.darkmodetoggle.dark .fa-sun{
    display: block;
}
/* *------------------------ */


.scrolltop.show{
    right: 1.5rem;
}

/* !------------- home ----------- */


#home.dark .text p{
 
    color: #a7a7a7;
   
}
#home.dark .text h1{
    color: #CDCFC1;
}
#home.dark .text p span{

    background: 
    -webkit-linear-gradient(45deg,rgb(189 173 231), rgb(255 44 44),rgb(2 232 243));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#home.dark .fleche-bas{
    color: #C2C6C9;
}


/* !--------------- */


/* !sell section ------------------ */

#sell.dark .title{
    color: #e9eaeb;
    text-shadow: 0 5px 10px #6e6e6e;

}
#sell.dark .selloption{
    background-color: #454f55;
}
#sell.dark h1{
    color: #CDCFD1;
}
#sell.dark i{
    color: #CDCFD1
}
#sell.dark .price{
    color: #31373C;
}

#sell.dark .selloption:not(.selloption:first-child){
    box-shadow: -4px 0px 16px -8px #31373d;
}

#sell.dark .features{
    color: #C2C6C9;
}

#sell.dark .features ul li:nth-child(2) ,#sell.dark .features ul li:nth-child(4){
    background-color: #4a555cf0;    
}
#sell.dark .selloption .popular {
    color:#3b3d3ff0 ;
}

